

  <div class="col-xs-3">
      <h2>User info</h2>
      <div class="user-edit-image">
        <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg",  class: " pull-left profile-thumb"%>
    </div>
    <table class="table">
      <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
      <div class="row">
          <tr>
            <th>name</th>
            <th class="profile-name"><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
      </div>
     <%= render 'users/follow_count' %>
    </table>

    <div class="row">
      <%= link_to "",edit_user_path(user),  class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    </div>
